* {
    margin: 0;
    padding: 0;
}

.main-block {
    background: url('../images/smm-background.png');
    background-size: cover;
    /* background-position: center; */
    background-position-x: center;
    background-position-y: 80%;
}

.main-block-section {
    padding-top: 286px;
    padding-bottom: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 79px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main-subtitle {
    color: #FFF;
    font-family: Montserrat;
    font-size: 27px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.main-button {
    color: #1E2E3D;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 20px;
    background: #FFF;
    padding: 26px 22px 26px 22px;
    margin-top: 32px;
}

.about-me-block {
    padding-top: 72px;
    padding-bottom: 181px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title-text {
    color: #000;
    font-family: Montserrat;
    font-size: 37px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 51px;
}

.person-info-text {
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;

}

.person-info-text:last-child {
    margin-bottom: 0px;
}

.person-info-block {
    max-width: 1380px;
    display: flex;
    justify-content: center;
}

.person-info-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 97px;
}

.contact-block {
    background: #1E2E3D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 113px;
    padding-bottom: 123px;
}

.logo-web {
    width: 94.313px;
    height: 91.349px;
    transform: rotate(0.827deg);
    flex-shrink: 0;
    margin-bottom: 25px;
}

.contact-block-title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.contact-block-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 27px;
}

@media screen and (max-width: 900px) {
    .person-info-block {
        flex-direction: column;
        margin-top: 50px;
    }

    .about-me-block {
        padding: 50px;
    }

}

@media screen and (max-width: 670px) {
    .contact-block-text {
        font-size: 17px;
    }
}

@media screen and (max-width: 500px) {
    .main-title {
        font-size: 30px;
    }

    .main-subtitle {
        font-size: 20px;
    }

    .section-title-text {
        font-size: 30px;
    }

    .person-info-text {
        font-size: 18px;
    }

    .contact-block-title {
        font-size: 30px;
    }
}